/*
  BUTTON
  Buttons.
*/

.button {
  $padding: 0.5em;

  position: relative;
  display: inline-block;
  @include mod(1);
  font-weight: 600;
  text-decoration: none;
  padding: $padding;
  line-height: 1.5;
  color: $primary-color;
  border-bottom: 4px solid $primary-color;
  margin: 0 1em 1em 0;
  @include user-select(none);

  &, &:hover {
    @include transition-property(color padding top border-color);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-out);
  }
  &:hover {
    color: lighten($primary-color, 25%);
    border-bottom-color: lighten($primary-color, 25%);
    // top: -0.25em;
    // padding: {
    //   top: 0.25em;
    //   bottom: 0.75em;
    // }
  }
}