/*
  FOOTER
  Styles for footer found at the bottom of every page.
*/

$bottom-border-height: 8px;

// Run a border across the bottom of the page
body {
  border-bottom: $bottom-border-height solid #333;
}

// Container
.footer {
  @include container;

  padding: {
    top: 4em;
    bottom: 2em;
  }
  position: relative;
  color: #666;

  // Footer text is tiny
  p {
    @include mod(-1);
    font-weight: 600;
    letter-spacing: 1;
    line-height: 1;
    margin-bottom: 0.5em;
  }
  a {
    color: #000;
    &:hover {
      color: #000;
      text-decoration: underline;
    }
  }

  // Color strips
  $default-width: 30px;
  $large-width: 100px;

  // By default the colors are lined up together
  &::before, &::after {
    display: block;
    position: absolute;
    content: '';
    width: $default-width * 3;
    height: $bottom-border-height;
    bottom: -$bottom-border-height;
  }
  &::before {
    left: $gutter-width / 2;
    background: $primary-color;
    box-shadow: 
      $default-width 0 0 $secondary-color, 
      $default-width * 2 0 0 $tertiary-color,
      $default-width * 3 0 0 #ccc,
      $default-width * 4 0 0 #666;
  }

  // On medium screens and up, the bars separate into primary colors and grays
  @include at-breakpoint($small) {
    &::before, &::after {
      width: $large-width;
    }
    &::before {
      background: $primary-color;
      box-shadow: 
        $large-width 0 0 $secondary-color, 
        $large-width * 2 0 0 $tertiary-color;
    }
    &::after {
      right: $gutter-width / 2;
      background: #666;
      box-shadow: -$large-width 0 0 #ccc;
    }
  }
}