/*
  HEADER
  Styles for header found at the top of every page.
*/

$h: 'header';

// Outer container
.#{$h} {
  background: #444;
  padding: {
    top: 0.6em;
    bottom: 0.6em;
  }

  // Pad it out on bigger screens
  @include at-breakpoint($medium) {
    padding: {
      top: 0.8em;
      bottom: 0.8em;
    }
  }

  // My name
  .logo {
    display: inline-block;
    text-transform: lowercase;
    margin: {
      right: 0.3em;
      bottom: 0;
    }
    a, a:hover { color: white; }
  }
  // The text after my name
  .logo-after {
    display: none;
    color: #ccc;

    // Only show on medium screens and up
    @include at-breakpoint($small) {
      display: inline-block;
    }
  }
  .logo, .after-logo {
    cursor: default;
    vertical-align: baseline;
  }
}

// Inner container for header
.#{$h}-inner {
  @include container;
  position: relative;
}

// Email and Twitter links
.#{$h}-contact {
  display: block;
  padding: {
    top: 0.75em;
    bottom: 0.5em;
  }

  a {
    display: inline-block;
    color: #fff;
    margin-right: 0.75em;

    &:hover {
      color: #ccc;
    }

    // Icon
    &::before {
      margin-right: 0.4em;
      @include mod(2);
      position: relative;
      top: 0.2em;
    }
  }

  // Shift links to the far right side of the bar
  @include at-breakpoint($medium) {
    position: absolute;
    top: 0.35em;
    right: $gutter-width;
    padding: 0;

    a {
      margin: {
        right: 0;
        left: 0.75em;
      }
    }
  }
}