/*
  HOMEPAGE HERO
  Hero unit used at the top of the front page.
*/

$hh: 'homepage-hero';

// Outer container
.#{$hh} {
  background: $primary-color;
  color: #fff;
  padding: {
    top: 1em;
    bottom: 1em;
  }
  margin-bottom: 1.5em;

  @include at-breakpoint(emCalc(768px)) {
    padding: {
      top: 4em;
      bottom: 4em;
    }
    margin-bottom: 3em;
  }
}

// Inner container
.#{$hh}-inner {
  @include container;
  position: relative;
}

// Hero content
.#{$hh}-content {
  @include at-breakpoint($small) {
    @include span-columns(7);
    @include isolate(6);
  }
  @include at-breakpoint($large) {
    @include span-columns(6);
    @include isolate(7);
  }

  white-space: nowrap;
  overflow: hidden;

  // "Design, pizza, and cats..."
  .tagline {
    line-height: 1;
    text-transform: lowercase;
  }

  // Call to action buttons below tagline
  .button {
    position: static;
    border: 0;
    border-radius: 8px;
    background: white;

    &, &:hover {
      padding: 0.5em 0.8em;
    }
    &:hover {
    }
  }
}

// Something eventually...
.#{$hh}-pictures {
  .pictures > div {
    width: 32%;
    max-width: 125px;
  }

  @include at-breakpoint($small) {
    @include span-columns(5);

    .pictures {
      width: 100px;
      height: 100px;
      position: absolute;
      left: 22%;
      top: 50%;
      @include translate(-50px, -50px, 0);
    }

    img {
      width: 100%;
    }

    .pictures > div {
      width: 100%;
      max-width: none;
      display: block;
      position: absolute;
    }

    .image-1 {
      @include translateY(-75px);
    }
    .image-2 {
      @include translate(-75px, 75px, 0);
    }
    .image-3 {
      @include translate(75px, 75px, 0);
    }
  }

  @include at-breakpoint($large) {
    .pictures {
      left: 25%;
      width: 200px;
      height: 200px;
      @include translate(-100px, -100px, 0);
    }

    .image-1 {
      @include translateY(-125px);
    }
    .image-2 {
      @include translate(-125px, 125px, 0);
    }
    .image-3 {
      @include translate(125px, 125px, 0);
    }
  }
}