/*
  PORTFOLIO ITEM
  List of work samples found on the front page.
*/

// Container for this section
.portfolio {
  margin-bottom: 2em;

  @include at-breakpoint($medium) {
    margin-bottom: 4em;
  }
}

$pi: 'portfolio-item';

// Item container
.#{$pi} {
  @include clearfix;
  margin-top: 3.5em;

  // Divider below item
  &:not(:last-child)::after {
    display: block;
    position: static;
    content: '';
    width: 60%;
    height: 3.5em;
    border-bottom: 1px solid #ccc;
    margin: 0 auto;
  }

  .subtitle {
    font-style: italic;
    color: $secondary-color;
  }
}

// Item thumbnail
.#{$pi}-thumb {
  margin-bottom: 1em;
  @include at-breakpoint(emCalc(768px)) {
    margin-bottom: 0;
  }

  img {
    width: 100%;
    border: 1px solid #ccc;
  }
}

// Responsive adjustments: switch to a 2-column layout
@include at-breakpoint($small) {
  .#{$pi}-content {
    @include span-columns(7);
    @include omega;
  }
  .#{$pi}-thumb {
    @include span-columns(5);
  }
}
@include at-breakpoint($large) {
  .#{$pi}-content {
    @include span-columns(6);
    @include omega;
  }
  .#{$pi}-thumb {
    @include span-columns(6);
  }
}