body {
  font-size: 100%;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

@function mod($n) {
  @return ms($n, 16px 100px, fifth());
}

@mixin mod($n) {
  font-size: ms($n, 16px 100px, fourth());

  @include at-breakpoint($medium) {
    font-size: ms($n, 16px 100px, fifth())
  }
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin-bottom: 1rem;
}
p, li {
  line-height: 1.5;
}
em, i {
  font-style: italic;
}
strong, b {
  font-weight: 600;
}

.header {
  .logo {
    @include mod(4);
    font-weight: 700;
  }
  .logo-after {
    @include mod(3);
    font-weight: 100;
  }
}
.header-contact {
  a {
    @include mod(2);
  }
}

.homepage-hero {
  .tagline {
    @include mod(9);
    font-weight: 900;
  }
  .tagline-after {
    @include mod(3);
    font-weight: 400;
  }
  .button {
    @include mod(3);
  }
}

h2 {
  @include mod(6);
  font-weight: 300;

  & + p.subtitle {
    @include mod(3);
    font-weight: 300;
    margin-top: -0.5em;
  }
}

h3 {
  @include mod(5);
  font-weight: 400;

  & + p.subtitle {
    @include mod(1);
    font-weight: 400;
    margin-top: -0.5em;
  }
}

.button {
  @include mod(1);
}

a {
  text-decoration: none;
  color: $primary-color;

  &, &:hover {
    @include transition-property(color);
    @include transition-duration(0.15s);
    @include transition-timing-function(ease-out);
  }
  &:hover {
    color: lighten($primary-color, 15%);
  }
}