/*
  ABOUT
  Styles for the about section at the bottom of the front page.
*/

$a: 'about';

// Container
.#{$a} {
  @include clearfix;

  h2 {
    @include at-breakpoint($medium) {
      margin-bottom: 1em;
    }
  }
}

// Photo of me
.#{$a}-photo {
  margin-bottom: 1em;

  img {
    display: block;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 1000px;
    margin: 0 auto;
    max-width: 200px;

    @include at-breakpoint($small) {
      max-width: none;
    }
  }
}

// Responsive adjustments: switch to a 2-column layout
@include at-breakpoint($small) {
  .#{$a}-photo {
    @include span-columns(3);
  }
  .#{$a}-bio {
    @include span-columns(9);
    @include omega;
  }
}
@include at-breakpoint($large) {
  .#{$a} {
    p {
      @include mod(1);
      font-weight: 300;
    }
  }
  .#{$a}-photo {
    @include span-columns(3);
  }
  .#{$a}-bio {
    @include span-columns(8);
    @include pre(1);
    @include omega;
  }
}

// Link to email me
.#{$a}-email-link {
  @include mod(4);
  font-weight: 600;

  span {
    display: block;
    font-size: 0.667em;
    font-style: italic;
    line-height: 1.5;
  }

  // Put an icon before it
  &::before {
    float: left;
    line-height: 2.6;
    margin-right: 0.5em;

    // But only on medium-ish screens
    display: none;
    @include at-breakpoint($small) {
      display: inline;
    }
  }
}