/*
  BUTTON
  Buttons.
*/

.button {
  $padding: 0.5em;

  position: relative;
  display: inline-block;
  @include mod(1);
  font-weight: 600;
  text-decoration: none;
  padding: $padding;
  line-height: 1.5;
  color: $primary-color;
  border-bottom: 4px solid $primary-color;
  margin: 0 1em 1em 0;
  @include user-select(none);

  &, &:hover {
    @include transition-property(color padding top border-color);
    @include transition-duration(0.2s);
    @include transition-timing-function(ease-out);
  }
  &:hover {
    color: lighten($primary-color, 25%);
    border-bottom-color: lighten($primary-color, 25%);
    cursor: pointer;
  }
}

// Mixin to switch to a more standard-looking button
@mixin rounded-button {
  position: static;
  border: 0;
  border-radius: 8px;
  background: white;

  &, &:hover {
    padding: 0.3em 0.8em;
  }
  &:hover {
  }
}