/*
  EXTERNAL LINKS
  Series of panes above the footer with Twitter, Last.fm, and GitHub links.
*/

$el: 'external-links';

// Container
.#{$el} {
  @include container;

  h2 {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}

// Link pane
.#{$el}-item {
  @include at-breakpoint($small) {
    @include span-columns(4);
    @include nth-omega;
  }

  // The section title becomes an icon
  h3 {
    @include rms(3);
    text-align: center;
    color: $secondary-color;
    border-bottom: 1px solid $secondary-color;
    line-height: 1.75;
    cursor: default;
  }

  // Explanation text above content, e.g., "Last Tweet"
  .explanation {
    font-style: italic;
    margin-bottom: 0.25em;
    font-weight: 300;
  }

  // Inline links
  a {
    color: $secondary-color;
    font-weight: 600;
    &:hover {
      color: lighten($secondary-color, 15%);
    }
  }

  // Link below content
  .link {
    margin-top: -0.25em;

    // Put a right-facing arrow after it
    a::after {
      content: ' \2192';
      font-weight: 700;
    }
  }
}