/*
  HOMEPAGE HERO
  Hero unit used at the top of the front page.
*/

$hh: 'homepage-hero';

// Outer container
.#{$hh} {
  background: $primary-color;
  color: #fff;
  padding: {
    top: 1em;
    bottom: 1em;
  }
  margin-bottom: 1.5em;

  @include at-breakpoint(emCalc(768px)) {
    padding: {
      top: 4em;
      bottom: 4em;
    }
    margin-bottom: 3em;
  }
}

// Inner container
.#{$hh}-inner {
  @include container;
  position: relative;
}

// Hero content
.#{$hh}-content {
  @include at-breakpoint($small) {
    @include span-columns(7);
    @include isolate(6);
  }
  @include at-breakpoint($large) {
    @include span-columns(6);
    @include isolate(7);
  }

  white-space: nowrap;
  overflow: hidden;

  // "Design, pizza, and cats..."
  .tagline {
    line-height: 1;
    text-transform: lowercase;
    margin-bottom: 0;
  }
  // "...are all I think about."
  .tagline-after {
    margin-bottom: 1em;
  }

  // Call to action buttons below tagline
  .button {
    @include rounded-button;
  }
}

// Column container for sketches
.#{$hh}-pictures {
  @include at-breakpoint($small) {
    @include span-columns(5);
  }
}

$animation-length: 5s;
.sketch-container {
  width: 100%;

  img {
    width: 28%;
    margin-right: 4%;

    &.sketch-doge { display: none; }
  }

  @include at-breakpoint($small) {

    @include perspective(800px);
    position: relative;

    img {
      @include transform-origin(50%, 100%, false);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      margin: 0;

      display: none;
      &.sketch-1 { display: block; }

      body.sketches-on & {
        display: block;
        &.sketch-doge { display: none; }
        
        &.sketch-1 {
          @include experimental(
            'animation',
            flip-up $animation-length ease-out 0s infinite normal both
          );
        }
        &.sketch-2 {
          @include experimental(
            'animation',
            flip-up $animation-length ease-out ($animation-length / 3) infinite normal both
          );
        }
        &.sketch-3 {
          @include experimental(
            'animation',
            flip-up $animation-length ease-out ($animation-length / 3 * 2) infinite normal both
          );
        }
      }
    }
  }
}