/*
  HOMEPAGE HERO
  Hero unit used at the top of the front page.
*/

$hh: 'homepage-hero';

// Outer container
.#{$hh} {
  background: $primary-color;
  color: #fff;
  padding: {
    top: 1em;
    bottom: 1em;
  }
  margin-bottom: 1.5em;

  @include at-breakpoint(emCalc(768px)) {
    padding: {
      top: 4em;
      bottom: 4e steamm;
    }
    margin-bottom: 3em;
  }
}

// Inner container
.#{$hh}-inner {
  @include container;
  position: relative;
}

// Hero content
.#{$hh}-content {
  @include at-breakpoint($small) {
    @include span-columns(7);
    @include isolate(6);
  }
  @include at-breakpoint($large) {
    @include span-columns(6);
    @include isolate(7);
  }

  white-space: nowrap;
  overflow: hidden;

  // "Design, pizza, and cats..."
  .tagline {
    line-height: 1;
    text-transform: lowercase;
    margin-bottom: 0;
  }
  // "...are all I think about."
  .tagline-after {
    margin-bottom: 1em;
  }

  // Call to action buttons below tagline
  .button {
    @include rounded-button;
  }
}

// Column container for sketches
.#{$hh}-pictures {
  @include at-breakpoint($small) {
    @include span-columns(5);
    // @include perspective(800px);
  }
}