/*
  LAYOUT
  Grid and breakpoint settings.
*/

// box-sizing: border-box is beautiful
@include border-box-sizing;

// Susy grid settings
$container-width: emCalc(1000px);
$gutter-width: emCalc(30px);
$total-columns: 12;

$small-width:  600px;
$medium-width: 768px;
$large-width:  800px;

// Responsive breakpoints
$small:  $small-width 12;
$medium: $medium-width 12;
$large:  $large-width 12;

// Main content container
.main {
  @include container;
}