/*
  TYPOGRAPHY
  Type sizes, weights, and spacing site-wide.
  Eventually every font-size declaration should end up here.
*/

// Normalize font size, use Source Sans everywhere, antialias where possible
body {
  font-size: 100%;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;

  // Custom text selection color
  &::-moz-selection, &::selection {
    background: rgba($secondary-color, 0.999);
  }
}

/*
  Responsive modular scale function

  Given position $n on a modular scale, return two font-size declarations
  for two breakpoints.
  On smaller screens the modular scale's interval is a perfect fourth;
  on larger screens, the scale is expanded by switching to a perfect
  fifth.

  TODO: Add option to override $n between breakpoints by providing two values
*/
@mixin mod($n) {
  font-size: ms($n, 16px 100px, fourth());

  @include at-breakpoint($medium) {
    font-size: ms($n, 16px 100px, fifth());
  }
}

// Basic type reset
h1, h2, h3, h4, h5, h6, p, ul, li, pre {
  margin-bottom: 1rem;
}
p, li {
  line-height: 1.4;
  @include at-breakpoint($medium) {
    line-height: 1.5;
  }
}
em, i {
  font-style: italic;
}
strong, b {
  font-weight: 600;
}
code {
  font-family: 'Source Code Pro', monospace;
}
.code-block {
  line-height: 1.3;
  display: block;
  padding: 1em;
  background: #eee;
  border: 1px solid #ccc;
  white-space: pre-wrap;
}

/*
  Site-wide font sizes
*/

.header {
  .logo {
    @include mod(4);
    font-weight: 700;
  }
  .logo-after {
    @include mod(3);
    font-weight: 100;
  }
}
.header-contact {
  a {
    @include mod(2);
  }
}

.homepage-hero {
  .tagline {
    @include mod(9);
    font-weight: 900;
  }
  .tagline-after {
    @include mod(3);
    font-weight: 400;
  }
  .button {
    @include mod(3);
  }
}

h2 {
  @include mod(6);
  font-weight: 300;

  & + p.subtitle {
    @include mod(3);
    font-weight: 300;
    margin-top: -0.5em;
  }
}

h3 {
  @include mod(5);
  font-weight: 400;

  & + p.subtitle {
    @include mod(1);
    font-weight: 400;
    margin-top: -0.5em;
  }
}

.button {
  @include mod(1);
}

/*
  Links
*/

a {
  text-decoration: none;
  color: $primary-color;

  &, &:hover {
    @include transition-property(color);
    @include transition-duration(0.15s);
    @include transition-timing-function(ease-out);
  }
  &:hover {
    color: lighten($primary-color, 15%);
  }
}