/*
  TYPOGRAPHY
  Type sizes, weights, and spacing site-wide.
  Eventually every font-size declaration should end up here.
*/

// Normalize font size, use Source Sans everywhere, antialias where possible
body {
  font-size: 100%;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;

  &.doge {
    font-family: 'Comic Sans MS' !important;
    text-transform: lowercase !important;

    .tagline {
      font-size: 4em;
      margin-bottom: 0.6em;
    }
    .tagline-after {
      display: none;
    }
    .sketch-1, .sketch-2, .sketch-3 {
      display: none !important;
    }
    .sketch-doge {
      display: block !important;
    }
  }
}

::selection, ::-moz-selection {
  opacity: 1;
  background: black;
  color: white;
  text-shadow: none;
}

@include rms-set-scales(16px 100px, $fourth, $small-width $augmented-fourth, $large-width $fifth);

// Basic type reset
h1, h2, h3, h4, h5, h6, p, ul, li, pre {
  margin-bottom: 1rem;
}
p, li {
  line-height: $fourth;
  @include at-breakpoint($medium) {
    line-height: $fifth;
  }
}
em, i {
  font-style: italic;
}
strong, b {
  font-weight: 600;
}
.button {
  @include rms(1);
}
code {
  font-family: 'Source Code Pro', monospace;
}
.code-block {
  line-height: 1.3;
  display: block;
  padding: 1em;
  background: #eee;
  border: 1px solid #ccc;
  white-space: pre-wrap;
}

/*
  Site-wide font sizes
*/

.header {
  .logo {
    @include rms(4);
    font-weight: 700;
  }
  .logo-after {
    @include rms(3);
    font-weight: 100;
  }
}
.header-contact {
  a {
    @include rms(2);
  }
}

.homepage-hero {
  .tagline {
    @include rms(9);
    font-weight: 900;
  }
  .tagline-after {
    @include rms(3);
    font-weight: 400;
  }
  .button {
    @include rms(3);
  }
}

h2 {
  @include rms(6);
  font-weight: bold;

  & + p.subtitle {
    @include rms(3);
    font-weight: 300;
    margin-top: -0.5em;
    text-transform: lowercase;
  }
}

h3 {
  @include rms(5);
  font-weight: 400;

  & + p.subtitle {
    @include rms(1);
    font-weight: 400;
    margin-top: -0.5em;
  }
}

.button {
  @include rms(1);
}

/*
  Links
*/

a {
  text-decoration: none;
  color: $primary-color;

  &, &:hover {
    @include transition-property(color);
    @include transition-duration(0.15s);
    @include transition-timing-function(ease-out);
  }
  &:hover {
    color: lighten($primary-color, 15%);
  }
}